.registerBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.registerCard {
  width: 500px;
  background-color: #282c3f;
  padding: 2rem;
  box-shadow: 2px 4px 20px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.registerCard h1 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}

.registerCard form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.formInput {
  width: 100%;
  position: relative;
}

.formInput input {
  width: 100%;
  font-size: 1rem;
  border-radius: 3px;
  background-color: white;
}

.nameInput input {
  text-transform: capitalize;
}

.registerCard button {
  background-color: #4f555f;
  color: white;
  margin-top: 1rem;
}

.eyeIcon {
  position: absolute;
  right: 5%;
  top: 25%;
  font-size: 1.2rem;
  cursor: pointer;
}

.registerCard button:hover {
  background-color: #494f59;
}

.loginWith {
  text-align: end;
}

.loginWith p {
  font-size: 0.8rem;
  color: white;
}

.loginWith p span {
  color: blue;
  font-weight: 600;
}

.orMore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  color: white;
}

.formLine {
  background-color: white;
  height: 1px;
  width: 100%;
}

.googleBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleCard {
  padding: 8px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 203, 203);
  color: black;
  font-size: 0.9rem;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  cursor: pointer;
}

.googleCard:hover {
  background-color: rgb(220, 218, 218);
}

.googleIcon {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .registerBar {
    height: 95vh;
  }
}

@media (max-width: 520px) {
  .registerBar {
    padding: 1rem;
  }

  .registerCard {
    width: 100%;
  }
}
