.deliveryAddBar {
  background-color: whitesmoke;
  padding: 1.5rem;
  position: relative;
}

.doneAddBar {
  background-color: whitesmoke;
  padding: 1.5rem;
  position: relative;
  margin-bottom: 3rem;
}

.overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 199;
}

.newAdd {
  position: fixed;
  height: 100%;
  width: 500px;
  padding: 2rem;
  padding-left: 4rem;
  background-color: white;
  z-index: 200;
  left: 0;
  top: 0;
}

.newAddHead {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newAddClose {
  font-size: 1.3rem;
  cursor: pointer;
}

.addNewInput {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.addNewInput input {
  width: 100%;
  padding: 25px 10px;
  border: 1px solid gray;
  font-size: 1.2rem;
}

.addNewInputTwo {
  border: 1px solid gray;
}

.inputAddWrap {
  display: flex;
  flex-direction: column;
}

.inputAddWrap input {
  padding: 25px 10px;
  border: 1px solid gray;
  font-size: 1.2rem;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
/* 
.addNewAction {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
} */

.addNewActionWrap {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.homeAdd {
  border-right: 1px solid gray;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

.five {
  border-right: 0;
}

.homeAdd:hover {
  color: white;
  background-color: #282c3f;
  font-weight: 100;
}

.newAddButton {
  margin-top: 2rem;
}

.newAddButton button {
  padding: 22px 0;
  width: 100%;
  text-transform: uppercase;
  background-color: #282c3f;
  color: white;
}

.newAddButton button:hover {
  background-color: #30354b;
}

.userAddBar {
  padding: 2rem 0;
}

.userAddBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.userNewAdd {
  background-color: white;
  border: 1px solid gray;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0.5rem;
  align-items: flex-start;
}
.addnewLogo {
  position: relative;
}

.addNewIcon {
  font-size: 1.5rem;
}

.addnewLogo p {
  position: absolute;
  top: 40%;
  right: 20%;
  background-color: rgb(7, 224, 7);
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  font-size: 0.6rem;
  z-index: 1;
}

.addDataWrap h3 {
  font-size: 1.05rem;
  margin-bottom: 0.4rem;
}

.addDataWrap p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.userAddData {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 1rem;
}

.six button {
  border: 2px solid rgb(7, 211, 7);
}

.showAddBar button {
  background-color: rgb(7, 211, 7);
  color: white;
}

.showAddBar button:hover {
  background-color: rgb(5, 197, 5);
}

.six button:hover {
  background-color: white;
}

.userAddHead p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-top: 0.2rem;
}

.addActive {
  background-color: #30354b;
  color: white;
}

.otherBar {
  display: grid;
  grid-template-columns: 80px 1fr 65px;
  gap: 0.5rem;
  align-items: center;
}

.otherNewAdd {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: rgb(251, 171, 23);
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  padding-left: 10px;
}

.otherInput input {
  background-color: white;
  padding-left: 5px;
  width: 95%;
}

.otherClose {
}

.otherClose span {
  display: block;
  margin-right: 10px;
  cursor: pointer;
}

.otherClose span:hover {
  color: rgb(251, 171, 23);
}

.addDataWrap p {
  text-transform: capitalize;
}

.addDataWrap h3 {
  text-transform: capitalize;
}

.paymentEmpty {
  width: 100%;
  background-color: whitesmoke;
  padding: 4rem 2rem;
  margin-top: 2rem;
  position: relative;
}

.paymentEmpty h4 {
  text-transform: capitalize;
  opacity: 0.7;
}

.secureBar,
.outlineBar,
.secureBars {
  position: absolute;
  left: -5%;
  background-color: white;
  width: 50px;
  height: 50px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secureBar {
  top: 33%;
}

.secureBars {
  top: 9%;
}

.outline {
  top: 10%;
}

.secure,
.outline {
  font-size: 2rem;
}

.activePay {
  background-color: #282c3f;
  color: white;
}

.doneAdd {
  padding: 1rem;
}

.doneHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: -0.7rem;
  margin-bottom: 1rem;
}

.doneFirst {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.doneFirst h4 {
  text-transform: capitalize;
}

.checkmarkIcon {
  color: rgb(2, 212, 2);
  font-size: 1.3rem;
}

.doneChange p {
  color: rgb(251, 170, 19);
  cursor: pointer;
  font-size: 0.85rem;
}

.doneGoAdd h3 {
  text-transform: capitalize;
}

.doneGoAdd p {
  text-transform: capitalize;
  font-size: 0.95rem;
  opacity: 0.8;
  margin-top: 0.2rem;
  padding-bottom: 2rem;
}

.doneGoAdd span {
  font-size: 0.95rem;
}

.paymentAcBar {
  background-color: whitesmoke;
  position: relative;
  padding: 2rem;
}

.paymentAction h3 {
  margin-bottom: 1rem;
}

.paymentAction button {
  background-color: #30354b;
  color: white;
  margin-top: 2rem;
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
}

.doPay {
  text-align: center;
  width: 50%;
  margin: auto;
}
