header {
  width: 100%;
}

nav {
  padding: 1.2rem 9rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 120;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 120px 5px rgba(0, 0, 0, 0.05);
}

.logo a h1 {
  font-size: 2.3rem;
  color: #393e46;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navLinks a button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.navIcon {
  font-size: 1.15rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.cartNav {
  border: 2px solid;
  padding: 0 4px;
  display: block;
  font-size: 0.8rem;
}
