header {
  width: 100%;
}

nav {
  padding: 1.2rem 9rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 120;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 120px 5px rgba(0, 0, 0, 0.05);
}

.logo a h1 {
  font-size: 2.3rem;
  color: #393e46;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navLinks a button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.navIcon {
  font-size: 1.15rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.cartNav {
  border: 2px solid;
  padding: 0 4px;
  display: block;
  font-size: 0.8rem;
}

.popUp {
  position: absolute;
  right: 10%;
  background-color: white;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  top: 100%;
  width: 300px;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: solid 3px rgb(249, 167, 17);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem 0;
  padding-top: 1.2rem;
}

.popUp p {
  width: 100%;
  padding: 9px 2rem;
  text-align: center;
}

.popUp p a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  color: #282c3f;
}

.popUp p a:hover {
  color: rgb(249, 167, 17);
}

.popUp span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 9pz 2rem;
  font-weight: bold;
  cursor: pointer;
}

.popUp span:hover {
  color: red;
}

.mobileMenu {
  display: none;
}

.menuIcon {
  font-size: 1.7rem;
}

.navLinkss {
  display: flex;
  color: #282c3f;
  align-items: center;
  gap: 0.3rem;
}

.hideNav {
  display: none;
}

@media (max-width: 1200px) {
  .navLinks {
    gap: 2.7rem;
  }
}

@media (max-width: 1050px) {
  nav {
    padding: 1.2rem 5rem;
  }
}

@media (max-width: 920px) {
  .navLinks {
    gap: 2rem;
  }
}

@media (max-width: 820px) {
  nav {
    padding: 1.2rem 2rem;
  }
}

@media (max-width: 768px) {
  .hideMainNav {
    display: none;
  }

  .hideNav {
    display: flex;
  }

  .mobileMenu {
    display: block;
    margin-left: 1rem;
  }

  .MobileMenuBar {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 500;
    width: 60%;
    padding: 1rem 2rem;
  }

  .mobileHead h1 {
    font-size: 1.3rem;
    color: #282c3f;
  }

  .mobileHead {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .closeMobile {
    font-size: 1.3rem;
  }

  .lineMobile {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column;
    margin-top: 2rem;
  }

  .lineMobile a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #282c3f;
    font-size: 1.3rem;
  }

  .lineMobile p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #282c3f;
    font-size: 1.25rem;
  }
}

@media (max-width: 620px) {
  nav {
    padding: 1rem;
  }

  .MobileMenuBar {
    width: 80%;
  }
}
