.emptyOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyOrder img {
  width: 20rem;
  opacity: 0.7;
}

.emptyOrder h4 {
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  opacity: 0.9;
}

.emptyOrder p {
  font-size: 0.9rem;
  text-transform: capitalize;
  opacity: 0.8;
}

.orderListBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.itemsName {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.orderList {
  background-color: whitesmoke;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
}

.orderShopData {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.orderShopData img {
  width: 70px;
  height: 50px;
  border-radius: 3px;
}

.orderShopName h3 {
  text-transform: capitalize;
}

.orderShopName p {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  text-transform: capitalize;
  opacity: 0.8;
}

.orderMiniInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderId {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.orderId p {
  text-transform: uppercase;
}

.orderId span {
  font-size: 0.9rem;
  opacity: 0.8;
}

.orderItems {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.orderItems p {
  text-transform: uppercase;
}

.orderItems span {
  font-size: 0.9rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.orderDate {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.orderDate p {
  text-transform: uppercase;
}

.orderDate span {
  font-size: 0.9rem;
  text-transform: capitalize;
  opacity: 0.8;
}

.viewOrder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

.viewOrder button {
  color: white;
  background-color: #282c3f;
  text-transform: capitalize;
  font-size: 0.9rem;
  border-radius: 2px;
}

.viewOrder button:hover {
  background-color: #32364e;
}

.orderFullBar {
  position: fixed;
  top: 2%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 650px;
  z-index: 400;
  height: 95vh;
}

.orderFullBar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.orderFullHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.minimize {
  cursor: pointer;
  font-size: 1.3rem;
}

.yourOrder {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yourOrder h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.categoryfull {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.fullorderItem {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.eight {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.fullItemName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.eight p {
  text-transform: capitalize;
}

.eight span {
  font-size: 0.9rem;
}

.fullInfo {
  margin-top: 2rem;
}

.fullInfo h2 {
  margin-bottom: 1rem;
}

.fuulId {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1rem;
}

.fuulId p {
  text-transform: uppercase;
}

.fuulId span {
  font-size: 0.9rem;
  text-transform: capitalize;
  opacity: 0.8;
}

.fuulId b {
  font-weight: 400;
}

.userAddHome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.showAddBa {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.showAddBa button {
  background-color: transparent;
  color: rgb(250, 172, 27);
  padding: 4px 10px;
  font-size: 0.9rem;
}

.deliveryAddBars {
  padding: 1.5rem;
  position: relative;
}

.pro {
  background-color: rgb(250, 172, 27);
  color: white;
  margin-bottom: 0.5rem;
  padding: 5px 20px;
  width: fit-content;
}

@media (max-width: 1325px) {
  .orderListBar {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1220px) {
  .userAddHome {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .orderFullBar {
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .emptyOrder p {
    font-size: 0.75rem;
  }

  .emptyOrder img {
    width: 70%;
  }
}
