.reviewsBar {
  position: absolute;
  background-color: white;
  height: 55vh;
  width: 550px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  border-radius: 10px;
}

.rating {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.ratingHead p {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}

.reviewBox p {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}

.reviewBox input {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 16px 12px;
}

.reviewBox form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.reviewBox button {
  background-color: #282c3f;
  color: white;
}

.shopReview {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.shopReview img {
  width: 80px;
  height: 60px;
  border-radius: 3px;
}

.shopReview p {
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 0.4rem;
}

.shopReview span {
  font-size: 0.9rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.userRevListBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.revList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
}

.revList h2 {
  font-size: 1rem;
  text-transform: capitalize;
}

.revList span {
  text-transform: capitalize;
  font-size: 0.9rem;
  opacity: 0.8;
}

.revRate {
  font-size: 0.8rem;
}

.revEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.revEmpty img {
  width: 15rem;
}

.revEmpty p {
  opacity: 0.8;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.revList button {
  background-color: transparent;
  color: red;
  padding: 0;
  font-size: 1rem;
  margin-top: 1rem;
}
