.searchBar {
  padding-top: 7rem;
  width: 800px;
  margin: auto;
}

.searchInputBar {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: whitesmoke;
}

.searchInput {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.searchInput input {
  width: 100%;
  background-color: white;
  padding: 15px 0;
}

.searchIt {
  cursor: pointer;
  font-size: 1.2rem;
}
