.userBookmarkBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.userBookmarkBar img {
  transition: ease-in-out 0.4s;
}

.userBookmarkBar img:hover {
  scale: 1.05;
}

.stop {
  overflow: hidden;
}

.removes {
  margin-top: 1rem;
  text-align: end;
  color: rgb(255, 176, 30);
}

.noBookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noBookmark img {
  width: 12rem;
  margin-bottom: 1rem;
}

.noBookmark p {
  margin-top: 0.3rem;
  opacity: 0.8;
  font-size: 0.9rem;
}

@media (max-width: 1320px) {
  .userBookmarkBar {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1030px) {
  .userBookmarkBar {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .userBookmarkBar {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 580px) {
  .userBookmarkBar {
    grid-template-columns: 1fr;
  }

  .noBookmark p {
    font-size: 0.75rem;
  }
}
