@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  color: black;
}

a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input {
  border: none;
  font-size: 1rem;
  background-color: whitesmoke;
  padding: 8px;
  outline: none;
  font-family: "Rubik", sans-serif;
}

textarea {
  font-family: "Rubik", sans-serif;
}

button {
  border: none;
  padding: 8px 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

/* color: #282c3f; */
/* background-color: #282c3f; */

h1 {
  font-family: "Rubik", sans-serif;
}
